---
version: "3"

volumes:
  dashy_conf:

services:
  dashy:
    image: lissy93/dashy
    container_name: dashy
    volumes:
      - dashy_conf:/app/public/conf.yml
    ports:
      - 8085:80
    environment:
      - NODE_ENV=production
      - UID=1000
      - GID=1000
    restart: unless-stopped
